.DateRangePicker {
    position: relative;
}

.DateRangePicker__info {
    height: 100%;
    width: 100%;
    display: block;
    background-color: var(--white);
    border: 1px solid var(--border);
    box-shadow: 0 0 2px rgba(var(--dark), 0.1);
    padding: 10px;
    text-align: center;
    border-radius: var(--border-radius);
    font-size: 17px;
    cursor: pointer;
}

.DateRangePicker {
    &__wrapper {
        position: absolute;
        top: calc(100% + 12px);
        left: 50%;
        padding: 20px;
        border-radius: var(--border-radius);
        border: 1px solid var(--light-grey);
        background-color: var(--white);
        box-shadow: 2px 2px 4px rgba(var(--dark), 0.15);
        z-index: 8;
        transform: translateX(-50%);

        &::before {
            position: absolute;
            transform: translate(-50%, -100%);
            top: 0;
            left: 50%;
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 12px 12px 12px;
            border-color: transparent transparent #f8f8f8 transparent;
        }
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: rgba(var(--primary), 1);
        background-color: var(--light-grey);
        padding: 15px 10px;
        border-radius: 5px;
    }
}

.DatePicker {
    &__title {
        display: block;
        font-size: 18px;
        text-align: center;
        flex: 1 0;
    }

    &__weekdays,
    &__week {
        display: flex;
    }

    &__weekday,
    &__day,
    &__day--empty {
        text-align: center;
        line-height: 40px;
        width: 40px;
        height: 40px;
    }

    &__day {
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 50%;

        &:hover {
            border-color: rgba(var(--light-primary), 1);
        }

        &--disabled {
            color: rgba(var(--light-primary), 0.8);
            text-decoration: line-through;
            cursor: default;

            &:hover {
                border-color: transparent;
            }
        }

        &--selected {
            background-color: rgba(var(--light-primary), 1);
            color: var(--white);
        }
    }
}
