.AutoCompleteInput {
    position: relative;

    &__plus-wrapper {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(var(--secondary), 1);
        border-radius: 50%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: translateY(-50%) scale(1.1);
        }
    }

    &__plus {
        width: 20px;
        height: 20px;
        fill: var(--white);
    }

    &__input {
        border: 1px solid var(--border);
        border-radius: var(--border-radius);
        height: 100%;
        padding: 10px 20px;
        width: 100%;
        min-width: 300px;

        @media only screen and (max-width: 576px) {
            min-width: 250px;
        }
        @media only screen and (max-width: 450px) {
            min-width: 200px;
        }
        @media only screen and (max-width: 350px) {
            min-width: 150px;
        }

        &:focus {
            outline: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

.AutoComplete {
    position: absolute;
    overflow: hidden;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 8;
    background-color: var(--white);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    list-style: none;
    box-shadow: inset 0 0 2px 1px rgba(var(--dark), 0.15);

    &__button {
        cursor: pointer;
        display: block;
        padding: 12px 20px;
    }

    &__item {
        border-bottom: 1px solid var(--border);
        transition: background-color 0.15s ease-in-out;

        &:hover,
        &:focus {
            background-color: var(--light-grey);
        }
    }
    &__loading {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }
}
