.Stats {
    display: grid;
    grid-template-columns: minmax(25rem, auto) 1fr;
    grid-template-rows: min-content 1fr 1fr;
    grid-gap: 2rem;
    grid-template-areas: 'filter filter' 'guest chart' 'room chart';
    min-height: 0;
    min-width: 0;

    @media only screen and (max-width: 850px) {
        grid-template-areas: 'filter filter' 'guest room' 'chart chart';
        grid-template-rows: min-content minmax(25rem, auto) 1fr;
        grid-template-columns: repeat(2, 1fr);
    }

    select {
        grid-area: filter;
    }

    div:nth-child(2) {
        grid-area: guest;
    }

    div:nth-child(3) {
        grid-area: room;
    }

    &__chart {
        grid-area: chart;
        min-width: 0;
    }
}

.chart {
    padding: 3rem 2rem;
    border-radius: var(--border-radius);
    background-color: var(--white);

    &__header {
        margin-bottom: 3rem;
    }

    &__heading {
        font-weight: 400;
        font-size: 2.2rem;
    }
}

#revenue-chart {
    background: var(--white);
}

.TotalComponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: 0 0 2px rgba(var(--dark), 0.15);

    &__text {
        font-size: 1.6rem;
    }
    &__heading {
        font-size: 2.6rem;
        margin-bottom: 0.5rem;
    }
}
